<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню админа</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1>Главная страница</h1>
</header>
<nav>
    <ul class="menu">
        <li><a href="/admin/employees" class="btn">Список пользователей</a></li>
        <li><a href="/admin/infotables" class="btn">Справочники</a></li>
    </ul>
</nav>
<a th:href="@{'/homepage/'}" id="back" class="btn-delete" th:method="delete">Обратно</a>
</body>
</html>