<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание нового абонемента</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Создание нового абонемента</h1>
<form action="/manager/subscribe/add" th:object="${subscribe}" method="post">
    <div class="form-group">
        <select th:field="*{month}" id="month" class="custom-select">
            <option value="">Выберите месяц</option>
            <option value="Январь">Январь</option>
            <option value="Февраль">Февраль</option>
            <option value="Март">Март</option>
            <option value="Апрель">Апрель</option>
            <option value="Май">Май</option>
            <option value="Июнь">Июнь</option>
            <option value="Июль">Июль</option>
            <option value="Август">Август</option>
            <option value="Сентябрь">Сентябрь</option>
            <option value="Октябрь">Октябрь</option>
            <option value="Ноябрь">Ноябрь</option>
            <option value="Декабрь">Декабрь</option>
        </select>
    </div>
    <div class="form-group">
        <select th:field="*{user}" id="user" class="custom-select">
            <option value="">Выберите посетителя</option>
            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.surname + ' ' + user.name + ' ' + user.secondname}"></option>
        </select>
        <span class="error-message" th:if="${#fields.hasErrors('user')}" th:errors="*{user}"></span>
    </div>
    <input type="submit" value="Сохранить" class="btn-save" id="confirm">
</form>
<a href="/manager/subscribe" class="btn-back">Отмена</a>
<script>
    document.getElementById("confirm").addEventListener("submit", function(event) {
        if (!confirm("Вы уверены, что хотите подтвердить отправку формы?")) {
            event.preventDefault(); // Отмена отправки формы
        }
    });
</script>
</body>
</html>