<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр заявки</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        p
        {
            text-indent: 25px;
            margin: 50px;
            background-color: #eff0f1;
            display: inline-block;
            border-color: #333333;
            border-style: double;
        }
    </style>
</head>
<body>
<h1>Заявка</h1>
<p>ID: <span th:text="${task.id}"></span></p>
<p>Текст заявки: <span th:text="${task.userMark}"></span></p>
<p>Почта пользователя: <span th:text="${task.usertask  != null ? task.usertask.email : ''}"></span></p>
<p>ФИО: <span th:text="${task.usertask  != null ? task.usertask.surname + ' ' +  task.usertask.name + ' ' + task.usertask.secondname: ''}"></span></p>
<a href="/coach/task/add" class="btn-edit">Создать план</a>
<a href="/coach/task/" class="btn-back">Вернуться к списку заявок</a>
</body>
</html>